body{
    background-color:green;
    position:relative;
}
h1#greetings{
    color:lightcoral;
    margin: top 10px;
    font-style: italic;
    
}
h2,p{
    color:white;
}
ul,li{
    color:red;
    
    
}
ol,li{
    color:yellow;
    font-weight:bold;
}

    
.top-right-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 150px;  /* Adjust the size as needed */
    height: auto;
    border-radius: 5px;  /* Keeps the aspect ratio */
}
.icon {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%; /* This makes the image round */
    position: a;
    top: 0;
    right: 0;
}
#center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius:80%; /* Adjust the width as needed */
}
img{
    position:relative;
    width: 150px;
    height: 150px;
    bottom:0;
    right:0;

}


